# editor
.idea/*

# soplex
/soplex*

# cmake
/cmake-*

# build directories
/build*

# python package directories
/python/build*
/python/Exact.egg*
/python/dist*
/python/exact/__pycache__*
/python/exact/*.so
/python/CMake*
/python/cmake*
/python/libExact.so
/python/Makefile
